[submodule "json-tools"]
	path = json-tools
	url = gitlab.greenwaves-tech.com:gwt_sdk_developer/json-tools.git
[submodule "pulp-configs"]
	path = pulp-configs
	url = git@gitlab.greenwaves-tech.com:gwt_sdk_developer/pulp-configs.git
[submodule "pulp-debug-bridge"]
	path = pulp-debug-bridge
	url = git@github.com:pulp-platform/pulp-debug-bridge
[submodule "gap_flasher"]
	path = gap_flasher
	url = git@github.com:GreenWaves-Technologies/gap_flasher.git
[submodule "pulp-rt-bridge"]
	path = pulp-rt-bridge
	url = git@github.com:pulp-platform/pulp-rt-bridge.git
[submodule "pulp-debug-bridge-vega"]
	path = pulp-debug-bridge-vega
	url = git@gitlab.greenwaves-tech.com:gwt_sdk_developer/pulp-debug-bridge-vega.git
